:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    Arial,
    sans-serif;

  /* DARKER BACKGROUND */
  background-color: #d8dee9; /* darker blue-gray */
  color: #1f2937; /* slate-800 */
}

a {
  color: inherit;
}
